/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

# Work Example
/vendor
/node_modules
.env.prod
.DS_Store
Thumbs.db
._.DS_Store
._*
_*
.idea/*
.idea
!_verstka
.vagrant
Vagrantfile
config/debugbar.php
public/assets
public/js
public/js/profile.js
public/mix*
public/fonts
public/css
public/images
public/cache
public
storage/shared/
storage/*
.phpintel
/upload
package-lock.json
.editorconfig
.prettierrc
.run
/.phpunit.cache
/.phpunit.result.cache
